{
  "extends": "airbnb-base",
  "env": {
    "browser": false,
    "node": true
  },
  "rules": {
    "indent": [2, 2],
    "semi": [1, "never"],
    "arrow-parens": "off",
    "camelcase": "off"
  }
}
